:root {
  --color-grey: #555;
  --color-success: #2a2;
  --color-error: #c41;
  --color-accent: #fc0;
  --color-accent-light: #eecc5522;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font:16px/1.2 BlinkMacSystemFont,-apple-system,'Segoe UI',Roboto,Oxygen,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,'Helvetica Neue',sans-serif;
  color:#212121;
/*
  background-image: url('assets/bg.jpg');
  background-attachment: fixed;
  background-size: cover;
*/
}

.app {
  background-color: #eee;
  margin: auto 10%;
  max-width: 1024px;
  min-height: 100%;
  display: grid;
  grid-template-columns: min-content auto;
}

main {
  padding: 10px;
}

.headline {
  background-color: var(--color-accent);
  text-orientation: mixed;
  padding: 5px;
  margin: 0;
  writing-mode: tb-rl;
  text-orientation: upright;
  text-transform: uppercase;
  text-align: center;
}

.headline h1 {
  margin: 0;
}

.product-item  {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-block-start: 1px solid var(--color-grey);
}

.product-item:last-of-type {
  border-block-end: 1px solid var(--color-grey);
}

.product-item > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  -webkit-appearance: none;
  cursor: pointer;
  height: 2.5em;
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

button.checkout {
  background-color: var(--color-accent-light);
  border-color: var(--color-accent);
  font-size: 1rem;
  width: 50%;
}

.checkout-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

li {
  margin: 0.5em auto;
}

.success {
  color: var(--color-success);
  font-weight: bold;
}

.error {
  color: var(--color-error);
  font-weight: bold;
}
